.match-card {
    max-width: 750px;
    margin: auto;
}

.avatar-icon {
    background-image: url('../../../assets/avatar-icon.jpg');
    background-size: cover;
    height: 55px;
    width: 55px;
    border: 3px solid #3500458f;
}

mat-card-header {
    text-align: left;
}

mat-card-title {
    color: #360045;
    font-weight: bold;
}

mat-card-subtitle {
    font-size: 11px;
}