<!-- <div class='box-form'>
  <div class='box-login-tab'></div>
  <div class='box-login-title'>
    <div class='i i-login'></div>
    <h2>LOGIN</h2>
  </div>
  <div class='box-login'>
    <div class='fieldset-body' id='login_form'>
      <p class='field'>
        <label for='user'>USERNAME</label>
        <input type='text' id='user' name='user' title='Username' />
        <span id='valida' class='i i-warning'></span>
      </p> -->
<!-- <p class='field'>
        <label for='pass'>PASSWORD</label>
        <input type='password' id='pass' name='pass' title='Password' />
        <span id='valida' class='i i-close'></span>
      </p> -->
<!-- <mat-form-field>
        <i matPrefix class="material-icons">account_circle</i>
        <input matInput type="text" placeholder="Enter your Yuxi User">
        <span matSuffix>@yuxiglobal.com</span>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
      </mat-form-field>

      <label class='checkbox'>
        <input type='checkbox' value='TRUE' title='Keep me Signed in' /> Keep me Signed in
      </label>

      <input type='submit' id='do_login' value='GET STARTED' title='Get Started' />
    </div>
  </div>
</div> -->
Login