<div class="login-container">
  <div class="login-box">
    <div class="login-tab"></div>
    <div class="login-tab-title">
      <h2>ALMUERZO COMPARTIDO</h2>
    </div>
    <div class="login-info">
      <div class="login-form">
        <p class='field'>
          <label for='user'>USUARIO</label>
          <input type='text' id='user' name='user' title='Usuario' [(ngModel)]="userName" disabled="disabled" />
          <span id='valida' class='i i-warning'></span>
        </p>
        <p class='field'>
          <label for='pass'>CONTRASEÑA</label>
          <input type='password' id='pass' name='pass' title='Contraseña' [(ngModel)]="password" disabled="disabled" />
          <span id='valida' class='i i-close'></span>
        </p>
        <input type='submit' id='do_login' value='INGRESAR' title='Iniciar Sesión' (click)="login()" />
        <img src="./assets/yuxi-logo.png" alt="">
      </div>
    </div>
  </div>
</div>