.login-container {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    background: rgba(30,29,31,1);
    background: -moz-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(30,29,31,1)), color-stop(100%, rgba(223,64,90,1)));
    background: -webkit-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: linear-gradient(135deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
}

.login-box {
    width: 340px;
    margin: auto;
    padding-top: 15vh;
}

.login-tab {
    width: 222px;
    height: 40px;
    background: #fdfdfd;
    position: relative;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    -webkit-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
    transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
    -moz-box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
    box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
}

.login-tab-title {
    width: 190px;
    height: 40px;
    position: absolute;
    float: left;
    color: #747474;
    text-align: center;
    margin-top: -40px;
    margin-left: 2px;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

h2 {
    font-size: 15px;
    letter-spacing: -1px;
}

.login-info {
    margin-top: -4px;
    width: 340px;
    height: 400px;
    background: #fdfdfd;
    text-align: center;
    overflow: hidden;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-box-shadow: 15px 30px 30px rgba(0,0,0,0.32);
    -moz-box-shadow: 15px 30px 30px rgba(0,0,0,0.32);
    box-shadow: 15px 30px 30px rgba(0,0,0,0.32);
}

.login-form {
    padding-top: 15px;
}

.login-form .field {
    width: 295px;
    display: inline-table;
    padding: 5px 20px;
    margin-bottom: 2px;
}

label {
    float: left;
    width: 100%;
    top: 0px;
    color: #032942;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    line-height: 1.5;
}

input {
    width: -webkit-fill-available;
    height: 32px;
    padding: 0px 10px;
    background-color: rgba(0,0,0,0.03);
    border: none;
    display: inline;
    color: #303030;
    font-size: 16px;
    font-weight: 400;
    float: left;
    -webkit-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.05), 1px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.05), 1px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 1px 1px 0px rgba(0,0,0,0.05), 1px 1px 0px rgba(255,255,255,1);
}

input[type=submit] {
    width: 274px;
    height: 48px;
    margin-top: 13px;
    margin-left: 33px;
    padding: 0px 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background-color: #87314e;
    border-radius: 6px;
    border: 1px #87314e solid;
    opacity: 1;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #df405a;
    border: 1px #df405a solid;
}

img {
    margin-top: 25px;
}