.match-card-container {
    margin: 5px;
}

.match-card-detail {
    margin: auto;
    max-width: 800px;
    height: 81vh;
}

mat-card-content {
    padding-top: 30px;
}

.avatar-icon-detail {
    background-image: url('../../../assets/avatar-icon.jpg');
    background-size: cover;
    height: 120px;
    width: 120px;
    border: 3px solid #3500458f;
    border-radius: 50%;
    flex-shrink: 0;
    margin: auto;
}

.detail-title, .hobbies, .match-detail {
    margin-top: 20px;
    text-align: center;
}

.match-detail {
    font-weight: normal;
    padding: 16px;
    color: rgba(0,0,0,.54);
}

.detail-title, .hobbies-title {
    font-size: 18px;
    color: #360045;
    font-weight: bold;
}

.detail-title .position {
    font-size: 14px;
}

.hobbies-title {
    padding-bottom: 10px;
}

.hobbie {
    padding: 5px 12px;
    color: rgba(0,0,0,.54);
}

.rating-container {
    text-align: center;
    margin: 15px 0px 23px 0px;

    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    -webkit-tap-highlight-color: transparent;
}
