.main-btn {
    display: block;
    width: 100%;
    max-width: 800px;
    height: 70px;
    margin: 8px auto;
    font-size: 18px;
    background: linear-gradient(to right, rgba(124, 0, 226, 0.541), rgba(255, 255, 0, 0.541));
    background-color: rgba(128, 0, 128, 0.336);
}

.main-btn mat-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.main-content {
    margin: 8px;
    text-align: center;
}

.card-list {
    margin-top: 8px;
}

app-match-card {
    cursor: pointer;
}