/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.mat-card-header-text {
    margin: 0 8px 0 16px !important;
}

.rating .ng-star-inserted .star-icon:before {
    color: #360045;
}

.rating .ng-star-inserted .star-icon {
    color: rgba(255, 211, 89, 0.747);
}